{% extends "base.html" %}

{% block title %} Impressum {% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
      Prof. Dr. Matias Zurbriggen<br \>
      Institut für Synthetische Biologie<br />
      Heinrich-Heine-Universität Düsseldorf<br \>
      Universitätsstraße 1<br \>
      40225 Düsseldorf<br \>
      Gebäude 26.24<br \>
      Etage/Raum 00.076<br \>
      E-Mail: matias.zurbriggen@uni-duesseldorf.de<br \>
      Tel.: +49 211 81-15015
      </div>
    </div>
  </div>
</div>

{% endblock %}
