{% include "nav_bar.html" %}

<!-- > Maybe you dont want to repeat yourself-->
{% block content %}
<div class="container-fluid"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
  <div class="row align-items-cente">
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">DIST</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">PROX
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#"> PROX</a></li>
            </ul>
          </div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">CORE</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">5'UTR</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">N-tag</div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">CDS1
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#"> CDS1</a></li>
            </ul>
          </div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="p-3 mb-2 bg-primary text-white">CDS2</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">CTAG</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">3'UTR</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">TERM</div>
      </div>

  </div>
  <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">DIST</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">PROX</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">CORE</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">5'UTR</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">N-tag</div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="p-3 mb-2 bg-primary text-white">CDS1</div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="p-3 mb-2 bg-primary text-white">CDS2</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">CTAG</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">3'UTR</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">TERM</div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">DIST</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">PROX</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">CORE</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">5'UTR</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">N-tag</div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="p-3 mb-2 bg-primary text-white">CDS1</div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="p-3 mb-2 bg-primary text-white">CDS2</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">CTAG</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">3'UTR</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">TERM</div>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-5 col-sm-5 col-md-5">
          <div class="p-3 mb-2 bg-primary text-white">Promoter</div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="p-3 mb-2 bg-primary text-white">CDS1</div>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2">
          <div class="p-3 mb-2 bg-primary text-white">CDS2</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">CTAG</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">3'UTR</div>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="p-3 mb-2 bg-primary text-white">TERM</div>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">3UTRTERM
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#"> 3UTRTERM</a></li>


              </ul>
            </div>
      </div>
  </div>
</div>




<div class="container">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Part name</th>
        <th scope="col">Phytobrick Position</th>
      </tr>
    </thead>
    <tbody>
      {% for key in parts_list.keys() %}
      <tr>
        <th scope="row"><a href="https://synbiohub.org/public/bsu/BO_28335/1">{{ key }}</a></th>
              <td><a href="http://synbiohub.org">{{ parts_list[key] }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
