{% extends "base.html" %}

{% block title %} Preliminary pegRNA proposal {% endblock %}

{% block content %}
<div class="container">
<form action='#' method='post'>
  <div class="row">
    <div class="col">
    <div class="text-center">
      {% if session['msg'] %}
        <p style="color: #FA5858; font-weight:bold">{{ session['msg'] }}</p>
      {% endif %}
    </div>
    </div>
  </div>
  <div style="background-color: #EFF5FB; border-radius: 5px; padding: 10px">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Sequence to be edited (required)</label>
    <span class="fa fa-info-circle" data-toggle='tooltip' title="Specify the sequence you want to edit in 5'&#8594 3' direction. Make sure to include enough sequence around the edit to be used for pegRNA design. A starting point could be ~50 bp to either side."></span>
    {% if PEG_transfer %}
      <textarea class="form-control" name="sequence" id="exampleFormControlTextarea1" rows="5"
    placeholder='e.g. 100 bp sequence' style="background-color:{{ session['clr']['sequence'] }}">{{ PEG_transfer }}</textarea>
    {% else %}
      <textarea class="form-control" name="sequence" id="exampleFormControlTextarea1" rows="5"
    placeholder='e.g. 100 bp sequence' style="background-color:{{ session['clr']['sequence'] }}"></textarea>
    {% endif %}
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-10">
        <label for="exampleFormControlInput1">PE edits (required)</label>
        <span class="fa fa-info-circle" data-toggle='tooltip' title="Specify the edit you want to perform in the above sequence. You may perform base swaps ('mut'), deletions ('del') or insertions ('ins'). Each type demands three inputs, separated by semicolons: base swaps follow the syntax index;new base;mut, deletions follow the syntax beginning;end;del, insertions follow the syntax index;sequence;ins. Multiple edits on the same sequence must be separated by vertical lines."></span>
        <input type="text" name="edits" class="form-control" id="exampleFormControlInput2" placeholder="e.g. 28,30,31;A,T,G;mut" value="{{ session['PEG_edits'] }}" style="background-color:{{ session['clr']['edits'] }}">
      </div>
      <div class="col-2">
        <label for="exampleFormControlInput2">PE mode</label>
        <span class="fa fa-info-circle" data-toggle='tooltip' title="You can choose between the two Primer Editor modes PE2 and PE3. In addition to the conventional pegRNA, PE3 also utilizes a gRNA to nick the edited strand, guiding the endogenous repair machinery to incorporate the edit into the genome with a higher likelihood."></span>
        <select id="mode" name="mode">
          <option value="PE2">PE2</option>
          <option value="PE3" selected="selected">PE3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
  </div>
</form>
</div>

{% endblock %}
