{% extends "base.html" %}

{% block table %}
<div class="container">
  <div class="row">
    {% if session['msg']=='comb_warn' %}
      <p style="color:red;">The given combination of existing overhangs is not compatible with an optimal overhang set. Computed the best overhang set not including the given existing overhangs. There might be interference between overhangs. </p>
    {% endif %}
  </div>
  <div class="form-group" align="center">
    <strong>Download as CSV:</strong>
    <a href={{ url_for('serve_table') }} class="btn btn-primary">Fragment table</a>
    <a href={{ url_for('serve_primers') }} class="btn btn-primary">Primer list</a>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Fragment ID</th>
            <th scope="col">Fragment type</th>
            <th scope="col">Forward Primer in 5'->3'</th>
            <th scope="col">Reverse Primer in 5'->3'</th>
          </tr>
        </thead>
        <tbody>

        {% for fragment in session['out'] %}
        <tr>
          <th scope="row" > {{session['PTG_name']}}_{{loop.index0}} </th>
          <td> {{fragment.type}} </td>
          <td> {{fragment.primer_forward}} </td>
          <td> {{fragment.primer_reverse}} </td>
        </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
